<%- include('../include/header.ejs') %>
<% const canManage = data.canManage; %>

    <section class="content">
        <div class="container-fluid">

           <% if(canManage){%>
            <div class="row">
                <div class="pt-2 col-md-12">
                <button type="button" class="btn bg-purple" id="btnopenaddledger">Add New Ledger</button>
             </div>
               </div>    
            <% }%>

            <div class="row pt-4">
                <div class="col-md-12">
                    <div class="card card-default" id="ledgertab">
                        <div class="card-header">
                            <div class="col-md-6">Existing Ledgers (if Any)</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control select2" id="vwcomps" name="vwcomps">
                                        <option value="0">Select one company</option>
                                        <% data.allcompanies.map((element)=>{%>
                                            <option value="<%=element.id%>">
                                                <%=element.name%>
                                            </option>
                                            <% })%>
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <select class="form-control select2" id="vwledger" name="vwledger"></select>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-md btn-success" id="btnrefreshledgers" data-attr="$(this)"
                                        type="button"><i class="fas fa-circle"></i></button>
                                    <button class="btn btn-md btn-primary" id="btnexportexcelselect" type="button" title="Export to Excel">
                                        <i class="fas fa-file-excel"></i>
                                    </button>
                                </div>
                                <div class="pt-2 col-md-12" id="ledgerdtls">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Ledger Details
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="hidden" id="companyid">
                                                    <input type="hidden" id="ledgergrupid">
                                                    <input type="hidden" id="taximposeid">
                                                    <input type="hidden" id="finyearid">
                                                    <input type="hidden" id="opbaltypeid">
                                                    <input type="hidden" id="ledtypeid">
                                                    <input type="hidden" id="ledgerid" name="ledgerid">
                                                    <dl>
                                                        <dt>Ledger Name</dt>
                                                        <dd><span id="ledgernames"></span></dd>
                                                        <dt>Ledger Group Name</dt>
                                                        <dd><span id="ledgergrpname"></span></dd>
                                                        <dt>Reconciliation Required</dt>
                                                        <dd><span id="reconreq"></span></dd>
                                                        <dt>Tax Impose</dt>
                                                        <dd><span id="taximpose"></span></dd>
                                                        <dt>Financial Year of Opening</dt>
                                                        <dd><span id="opfinyear"></span></dd>
                                                    </dl>
                                                </div>
                                                <div class="col-md-6">
                                                    <dl>
                                                        <dt>Opening Date</dt>
                                                        <dd><span id="opdate"></span></dd>
                                                        <dt>Opening Balance</dt>
                                                        <dd><span id="opbal"></span></dd>
                                                        <dt>Ledger Type</dt>
                                                        <dd><span id="ledger_type"></span></dd>
                                                        <dt>Ledger Description</dt>
                                                        <dd><span id="ledgerdescription"></span></dd>
                                                        <dt>Active</dt>
                                                        <dd><span id="sts"></span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="pt-2 col-md-10">
                                                    <% if(canManage){ %>
                                                        <button class="btn bg-orange" id="btneditledger">Edit Ledger</button>
                                                        <button class="btn btn-danger" id="btndelledger">Delete Ledger</button>
                                                    <% } %>
                                                    <span id="ledentrysection">
                                                        <% if(canManage){ %>
                                                        <button class="btn btn-info" id="btnopenentry">Add Entry</button>
                                                        <button class="btn btn-primary" id="btnopencontraentry">Add Contra
                                                            Entry</button>
                                                        <% } %>
                                                        <button class="btn btn-success" id="btnexportexcel">
                                                            Export Excel
                                                        </button>
                                                    </span>
                                                    <input type="hidden" id="durl" name="durl">
                                                    <input type="hidden" id="transtype" name="transtype">
                                                </div>
                                                <div class="col-md-2">
                                                        <select class="form-control select2" id="vwfinyear" name="vwfinyear"></select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-2 col-md-12" id="ledgerstatmenttab">
                                    <h6 class="pt-2"><strong>Detailed Statement</strong></h6>
                                    <table class="table table-bordered table-striped" id="tblvwledgerstatement">
                                        <thead>
                                            <tr>
                                                <th>Entry Date</th>
                                                <th>Posting Date</th>
                                                <th class="w-30">Description</th>
                                                <th>Debit</th>
                                                <th>credit</th>
                                                <th>Balance</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody id="vwledgerstatement">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="modal-newledger">
            <div class="modal-dialog modal-lg">

                <form id="addnewledgerform" name="addnewledgerform">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title newledger"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="modal-newledgerbody">
                            <h6 class="text-danger"><b>(*) marked fields are mandatory to enter</b></h6>
                            <div class="card-body addnewledgerform">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="company">Choose Company *</label>
                                            <select class="form-control select2" id="company" name="company">
                                                <% data.allcompanies.map((element)=>{%>
                                                    <option value="<%=element.id%>">
                                                        <%=element.name%>
                                                    </option>
                                                    <% })%>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->

                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ledgername">Ledger Name *</label>
                                            <input class="form-control" id="ledgername" name="ledgername"
                                                placeholder="Please enter ledger name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ledgertype">Ledger Group Name *</label>
                                            <select class="form-control" id="ledgertype" name="ledgertype">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="recreq">Reconciliation Required</label><br>
                                            <input type="checkbox" id="recreq" name="recreq" name="my-checkbox" checked
                                                data-bootstrap-switch data-off-color="danger" data-on-color="success"
                                                data-off-text="No" data-on-text="yes">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="taxcode">Tax Impose *</label>
                                            <select class="form-control" id="taxcode" name="taxcode">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="taxcode">Financial Year *</label>
                                            <select class="form-control" id="finyear" name="finyear">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ledgeropdt">Opening Date *</label>
                                            <input class="form-control" id="ledgeropdt" name="ledgeropdt"
                                                placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ledgeropbal">Opening Balance *</label>
                                            <input class="form-control" id="ledgeropbal" name="ledgeropbal"
                                                placeholder="Please enter opening balance of the ledger">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="opbaltype">Opening Balance Type *</label>
                                            <select class="form-control" id="opbaltype" name="opbaltype">
                                                <option>Cr</option>
                                                <option>Dr</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="ledtype">Ledger Type</label>
                                            <select class="form-control" id="ledtype" name="ledtype">
                                                <option value="1">Cash</option>
                                                <option value="2">Bank</option>
                                                <option value="0">N/A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 pl-5">
                                        <div class="form-group">
                                            <label for="ledgersts">Active</label><br>
                                            <input type="checkbox" id="ledgersts" name="ledgersts" name="my-checkbox"
                                                checked data-bootstrap-switch data-off-color="danger"
                                                data-on-color="success" data-off-text="No" data-on-text="yes">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ledgerdesc">Ledger Description *</label>
                                            <input class="form-control" id="ledgerdesc" name="ledgerdesc"
                                                placeholder="Please enter if any description of the ledger">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="sbmtnewledgeradd">Save changes</button>
                            <button type="submit" class="btn btn-primary" id="sbmtledgerupdate">Update changes</button>
                        </div>
                    </div>
                </form>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="modal-ledgerentry">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Entry in Ledger: <span class="text-bold"
                                id="vwmodalledgername"></span></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-danger"><b>(*) marked fields are mandatory to enter</b></h6>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-2">Ledger ID *</dt>
                                <dd class="col-sm-4"><input type="text" id="dtledgerid" name="dtledgerid"
                                        class="form-control" disabled></dd>
                                <dt class="col-sm-2">TAX Code ID *</dt>
                                <dd class="col-sm-4"><input type="text" id="dttaxcodeid" name="dttaxcodeid"
                                        class="form-control" disabled></dd>
                                <dt class="col-sm-2">Entry Date *</dt>
                                <dd class="col-sm-4"><input type="text" class="form-control" id="dtentrydt"
                                        name="dtentrydt" placeholder="dd/mm/yyyy"></dd>
                                <dt class="col-sm-2">Ledger Type *</dt>
                                <dd class="col-sm-4"><input type="text" class="form-control" id="dtledgertype"
                                        name="dtledgertype" placeholder="Ledger Type" disabled></dd>
                                <dt class="col-sm-2">Amount *</dt>
                                <dd class="col-sm-4"><input type="text" class="form-control" id="dtamnt" name="dtamnt"
                                        placeholder="Amount"></dd>
                                <dt class="col-sm-2">Entry Type *</dt>
                                <dd class="col-sm-4">
                                    <select class="form-control" id="ddlentrytype" name="ddlentrytype">
                                        <option value="cr">Cr</option>
                                        <option value="dr">Dr</option>
                                    </select>
                                </dd>
                                <dt class="col-sm-2">Description *</dt>
                                <dd class="col-sm-4"><textarea id="dtdesc" name="dtdesc" rows="2"
                                        class="form-control"></textarea></dd>
                            </dl>
                            <table class="table table-bordered" id="tblrealcat">
                                <thead>
                                    <tr>
                                        <th width="10%">#</th>
                                        <th width="40%">Ledger Name</th>
                                        <th width="10%">Tax Code</th>
                                        <th>Transaction Narration</th>
                                        <th width="15%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="tblrealcatbody">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <button class="btn btn-md btn-success" id="addrowBtn" type="button"><i
                                                    class="fas fa-plus"></i></button>
                                        </th>
                                        <th>Total</th>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            <input class="form-control txt-amount text-bold" type="text"
                                                id="txttotalamnt" disabled />
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="sbmtledgerentryadd">Submit</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="modal fade" id="modal-viewentrystatement">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Entry Details: <span id="eid"></span><button type="button" class="btn btn-danger" id="btndelrecord">Delete</button></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body vwentrystatement">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" id="editentryid" name="editentryid">
                                    <table class="table table-bordered table-striped" id="tblvwentrystatement">
                                        <thead>
                                            <tr>
                                                <th class="w-15">Entry Date</th>
                                                <th class="w-10">Posting Date</th>
                                                <th class="w-25">Ledger Name</th>
                                                <th>Description</th>
                                                <th class="w-15">Debit</th>
                                                <th class="w-15">credit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="vwentrystatement">
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary dtlsupdt" id="btndtlsupdt">Update</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

    </section>
    <!-- Custom JS Scripts-->
    <%- include('../include/footer.ejs') %>
        <script src="/dist/js/pages/general/xlsx.full.min.js"></script>
        <script src="/dist/js/pages/ledger.js"></script>